
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--grey);
}

.header-container {
    background-color: var(--medium-green);
    width: 100%;
    min-height: 10%;
    text-align: center;
}

.navbar {
    margin: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

.navbar li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}

.navbar a {
    color: #000;
    text-decoration: underline;
}

.main-container {
    text-align: center;
}

#character-list {
    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.character-card {
    flex-basis: 20%;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: var(--black) solid;
    border-radius: 1rem;
    background-color: var(--pastel);
}

.character-card img {
    border: var(--black) solid;
    border-radius: 50%;
    max-width: 140px;
}